@font-face {
    font-family: Outage;
    src: url('fonts/Outage.ttf');
}

body {
	font-family: trebuchet, arial, sans-serif;
	background-color: black;
}
h1, h2, h3 { font-family: Outage; }
p, h4, h5, h6 { font-family: trebuchet, arial, sans-serif; }
h1.name {
	font-size: 60px;
	margin: 0px 0px 0px 0px;
}
.profile {
	border: 1px solid transparent;
	
	margin-top: 35px;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.semi-transparent {
    background-color: rgba(255, 255, 255, 0.5);
}
.slightly-transparent {
    background-color: rgba(255, 255, 255, 0.85);
}
.opaque-white {
    background-color: rgba(255, 255, 255, 1.0);
}
.right-side {
    position: absolute;
    margin-left: 50%;
    width: 435px;
}
.full-page {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}

.fit-to-window-height {
    height: 100%;
}

.full-image-height {
    height: 720px;
}

.background-container {
	width: 100%;
	position: absolute;
	
	background-image: url(images/ryan_golden_gate.jpg);
	background-repeat: no-repeat;
	background-position: 50% 0;
}
.profile-head {
	padding: 30px 20px 0px 20px;
}
.profile-content {
	padding: 0px 20px 0px 20px;
}
.contact-info {
	padding: 0px 20px 20px 20px;
}
.no-bullets ul {
	list-style-type: none;
}

.square-bullets ul {
	list-style-type: square;
}

.social-webpages ul {
    margin-left: 0;
	padding-left: 0;
}

.social-webpages ul li {
	display: inline;
}
.social-webpages ul li a {
	padding: 0em 0.1em;
	opacity: 0.75;
}
.social-webpages ul li a:hover {
	opacity: 1.0;
}