{% extends "base.html" %}

{% block title %}About and Contact{% endblock %}
{% block head %}
	{{ super() }}
	<!--import css files-->
	<link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />

	<!--import jquery and javascript files-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
{% endblock %}
{% block content %}
	<div class="background-container fit-to-window-height">
		<div class="profile right-side semi-transparent">
			<div class="profile-head">
				<h1 class="name">Ryan Shea</h1>
			</div>
			<div class="profile-content bio-container">
				<p>
					Hi, my name is Ryan Shea. I am Co-President of the Princeton Entrepreneurship Club and study computer science and mechanical engineering at Princeton University. I am an aspiring entrepreneur and have a passion for building things - from web and mobile apps to the entrepreneurial community at Princeton.
				</p>
				<p>
					Check out my <a href="/bio">my extended bio</a> or find me online:
				</p>
			</div>
			<div class="profile-content social-webpages">
				<ul>
					<li id="twitter"><a href="http://twitter.com/#!/ryaneshea" target="_blank"><img src="static/images/twitter.png" /></a></li>
					<li id="facebook"><a href="http://facebook.com/ryaneshea" target="_blank"><img src="static/images/facebook.png" /></a></li>
					<li id="linkedin"><a href="http://www.linkedin.com/in/ryaneshea" target="_blank"><img src="static/images/linkedin.png" /></a></li>
					<li id="tumblr"><a href="http://blog.ryanshea.org/" target="_blank"><img src="static/images/tumblr.png" /></a></li>
				</ul>
			</div>
			{% if email or phone_number %}
			<div id="contact-info" class="profile-content contact-info">
				{% if email %}
				<div>
					<strong><span id="email_address_label">Email: </span></strong>
					<span id="email_address">{{email}}</span>
				</div>
				{% endif %}
				{% if phone_number %}
				<div>
					<strong><span id="phone_number_label">Phone Number: </span></strong>
					<span id="phone_number">{{phone_number}}</span>
				</div>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
	
	
	<script type="text/javascript">
		window.onload=personalize;
	</script>
{% endblock %}