{% extends "base.html" %}

{% block title %}Bio{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div class="background-container">
	<div class="profile full-page slightly-transparent">
		<div class="profile-head">
			<h1 class="name">Ryan Shea</h1>
			<h2>bio</h2>
		</div>
		<div class="profile-content portfolio-container">
			<p>Hi, my name is Ryan Shea. I study computer science and mechanical engineering at Princeton University and am Co-President of <a href="http://www.princetoneclub.com/" target="_blank">the Princeton Entrepreneurship Club</a>. I am an aspiring entrepreneur and have a passion for building things - from web and mobile apps to the entrepreneurial community at Princeton.</p>
			<p>In the past I’ve interned as a Software Engineer at <a href="http://www.zocdoc.com/" target="_blank">ZocDoc</a>, co-founded a startup with one of the creators of turntable, co-organized the first Startup Weekend at Princeton (<em>which has since inspired a <a>series of Princeton hackathons</a></em>), led Princeton’s annual <a href="http://www.princetoneclub.com/tigerlaunch/" target="_blank">startup challenge (<em>TigerLaunch</em>)</a> through its biggest year to date, served as curator for one of the first StartupDigest university issues, co-organized the first <a href="http://www.princetoneclub.com/hackweek/" target="_blank">“hack week” at Princeton</a> (<em>with over 75 students building apps over winter break</em>), and introduced three <a href="http://www.princetoneclub.com/programming-classes/" target="_blank">student-run programming classes</a> (<em>with a waitlist in the hundreds</em>) to the Princeton campus.</p>
			<p>Nowadays, I spend a lot of my time building web and mobile apps. Python has long been my language of choice, but recently its reign as my favorite has been challenged by Objective-C. Since beginning my exploration into the world of mobile apps, I have become particularly enamored by iOS development. I plan on publishing my first app to the App Store sometime this March or April.</p>
			<p>After graduating from Princeton in May, it is my goal to work at a startup in San Francisco or New York City. I plan to acquire more experience by joining a seasoned team that is deeply passionate about building high quality mobile products. Finally, it is my goal to one day take the plunge and start my own company - a dream I have had since a very young age!</p>
		</div>
	</div>
</div>
{% endblock %}
