{% extends "base.html" %}

{% block title %}Portfolio{% endblock %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block content %}
<div class="background-container full-image-height">
	<div class="profile full-page slightly-transparent">
		<div class="profile-head">
			<h1 class="name">Ryan Shea</h1>
			<h2>portfolio</h2>
		</div>
		<div class="profile-content portfolio-container square-bullets">
			<p>Websites I've made for organizations I've been a part of:</p>
			<ul>
				<li><a href="http://www.princetoneclub.com/" target="_blank">The Princeton Entrepreneurship Club</a></li>
				<li><a href="http://ecstartupsummit.com/" target="_blank">East Coast Startup Summit</a></li>
			</ul>
			<p>Github repos for cool projects I've worked on recently:</p>
			<ul>
				<li><a href="https://github.com/rxl/Personal-Page" target="_blank">The website you're currently viewing</a></li>
				<li>The <a href="https://github.com/rxl/passtheflame" target="_blank">iPhone app</a> I plan on releasing to the iTunes store in April 2012</li>
				<li>A quick and dirty <a href="https://github.com/rxl/Flow-Visualizer">CFD Flow Visualizer</a></li>
			</ul>
			<p>Find me on <a href="https://github.com/rxl" target="_blank">Github</a> and <a href="http://geekli.st/ryanshea" target="_blank">Geeklist</a>
			</p>
			<p>Return to my <a href="/">about page</a> or my <a href="/bio">extended bio</a></p>
		</div>
	</div>
</div>
{% endblock %}
